src/main/plugin/iso19115-3/schema/others/delwp/delwp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://standards.iso.org/iso/19115/-3/gco/1.0" xmlns:delwp="https://github.com/geonetwork-delwp/iso19115-3.2018" xmlns:mcc="http://standards.iso.org/iso/19115/-3/mcc/1.0" elementFormDefault="qualified" targetNamespace="https://github.com/geonetwork-delwp/iso19115-3.2018" version="1.0">
  <import namespace="http://standards.iso.org/iso/19115/-3/gco/1.0" schemaLocation="https://schemas.isotc211.org/19115/-3/gco/1.0/gco.xsd"/>

<!-- A gco:Record type that can be used as a child of elements
     such as mac:otherProperty eg. 

<mdb:acquistionInformation>
  <mac:MI_AcquisitionInformation>
    <mac:operation>
      <mac:MI_Operation>
        ...
        <mac:otherPropertyType xlink:href="https://github.com/geonetwork-delwp/iso19115-3.2018#xpointer(//complexType[@name='MD_OperationProperties_PropertyType'])"/>
        <mac:otherProperty>
         <gco:Record xsi:type="delwp:MD_AgencyCode_PropertyType">
          <delwp:method>
            <delwp:MD_MethodCode @codeListValue="Not Entered"/>
          </delwp:method>
          <delwp:projectPartner>
            <delwp:MD_ProjectPartner>
                 <delwp:agency>
                   <delwp:MD_AgencyCode @codeListValue="DSE"/>
                 </delwp:agency>
                 <delwp:name>
                   <delwp:MD_PartnerNameCode @codeListValue="DSE Victoria"/>
                 </delwp:name>
                 <delwp:purpose>
                   <gco:CharacterString>Photogrammetry project</gco:CharacterString>
                 </delwp:purpose>
            </delwp:MD_ProjectPartner>
          </delwp:projectPartner> 
         </gco:Record>
        </mac:otherProperty>
      </mac:MI_Operation>
    </mac:operation>
  </mac:MI_AcquisitionInformation>
</mdb:acquistionInformation>

-->

  <element name="MD_MethodCode" substitionGroup="gco:CharacterString" type="gco:CodeListValue_Type">
    <annotation>
      <documentation>Description: Describes the method code used to collect the imagery in the project</documentation>
    </annotation>
  </element>

  <complexType name="MD_MethodCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="delwp:MD_MethodCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>

  <complexType name="MD_OperationProperties_PropertyType">
    <annotation>
      <documentation>Description: Describes the DELWP operation properties that don't fit within in the standard</documentation>
    </annotation>
    <sequence minOccurs="0">
      <element minOccurs="0" name="method" type="delwp:MD_MethodCode_PropertyType">
        <annotation>
          <documentation>Description: Describes the method used to acquire the imagery in the project</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="projectPartner" type="delwp:MD_ProjectPartner_PropertyType">
        <annotation>
          <documentation>Description: Describes the project partners that financially contributed to the project</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>

  <element name="MD_AgencyCode"      substitionGroup="gco:CharacterString" type="gco:CodeListValue_Type">
    <annotation>
      <documentation>Description: Describes the agency code of a partner that financially contributed to the project</documentation>
    </annotation>
  </element>

  <element name="MD_PartnerNameCode" substitionGroup="gco:CharacterString" type="gco:CodeListValue_Type">
    <annotation>
      <documentation>Description: Describes the name of a partner that financially contributed to the project</documentation>
    </annotation>
  </element>

  <complexType name="MD_AgencyCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="delwp:MD_AgencyCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>

  <complexType name="MD_PartnerNameCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="delwp:MD_PartnerNameCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>

  <complexType name="MD_ProjectPartner_PropertyType">
    <sequence minOccurs="0">
      <element ref="delwp:MD_ProjectPartner"/>
    </sequence>
  </complexType>

  <element name="MD_ProjectPartner" substitutionGroup="gco:AbstractObject" type="delwp:MD_ProjectPartner_Type">
    <annotation>
      <documentation>Description: Describes the agency, name and purpose of a partner that financially contributed to the project</documentation>
    </annotation>
  </element>

  <complexType name="MD_ProjectPartner_Type">
    <sequence minOccurs="0">
      <element minOccurs="1" name="agency"  type="delwp:MD_AgencyCode_PropertyType"/>
      <element minOccurs="1" name="name"    type="delwp:MD_PartnerNameCode_PropertyType"/>
      <element minOccurs="0" name="purpose" type="gco:CharacterString_PropertyType"/>
    </sequence>
  </complexType>
</schema>


