src/main/plugin/iso19115-3/schema/others/delwp/delwp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
        xmlns:gco="http://standards.iso.org/iso/19115/-3/gco/1.0" 
        xmlns:cit="http://standards.iso.org/iso/19115/-3/cit/2.0" 
        xmlns:delwp="https://github.com/geonetwork-delwp/iso19115-3.2018" 
        xmlns:mcc="http://standards.iso.org/iso/19115/-3/mcc/1.0" 
        elementFormDefault="qualified" 
        targetNamespace="https://github.com/geonetwork-delwp/iso19115-3.2018" 
        version="1.0">
  <import namespace="http://standards.iso.org/iso/19115/-3/gco/1.0" schemaLocation="https://schemas.isotc211.org/19115/-3/gco/1.0/gco.xsd"/>
  <import namespace="http://standards.iso.org/iso/19115/-3/cit/2.0" schemaLocation="https://schemas.isotc211.org/19115/-3/cit/2.0/cit.xsd"/>

<!-- A gco:Record type that can be used as a child of elements
     such as mac:otherProperty 

     eg. for projects:

<mdb:acquistionInformation>
  <mac:MI_AcquisitionInformation>
    <mac:operation>
      <mac:MI_Operation>
        ...
        <mac:otherPropertyType xlink:href="https://github.com/geonetwork-delwp/iso19115-3.2018#xpointer(//complexType[@name='MD_OperationProperties_Type'])"/>
        <mac:otherProperty>
         <gco:Record xsi:type="delwp:MD_OperationProperties_Type">
           <delwp:projectDetails>
             <delwp:MD_ProjectDetails>
               <delwp:method>
                 <delwp:MD_MethodCode @codeListValue="Not Entered"/>
               </delwp:method>
               <delwp:projectPartner>
                 <delwp:MD_ProjectPartner>
                      <delwp:partner>
                      </delwp:partner>
                      <delwp:purpose>
                        <gco:CharacterString>Photogrammetry project</gco:CharacterString>
                      </delwp:purpose>
                 </delwp:MD_ProjectPartner>
               </delwp:projectPartner> 
             </delwp:MD_ProjectDetails>
           </delwp:projectDetails>
         </gco:Record>
        </mac:otherProperty>
      </mac:MI_Operation>
    </mac:operation>
  </mac:MI_AcquisitionInformation>
</mdb:acquistionInformation>

     eg. for raster datasets:

<mdb:acquistionInformation>
  <mac:MI_AcquisitionInformation>
    <mac:operation>
      <mac:MI_Operation>
        ...
        <mac:otherPropertyType xlink:href="https://github.com/geonetwork-delwp/iso19115-3.2018#xpointer(//complexType[@name='MD_OperationProperties_Type'])"/>
        <mac:otherProperty>
         <gco:Record xsi:type="delwp:MD_OperationProperties_Type">
           <delwp:datasetDetails>
             <delwp:MD_DatasetDetails>
               <delwp:platformType>
                 <delwp:MD_PlatormTypeCode @codeListValue="..."/>
               </delwp:platformType>
               <delwp:assembly>
                 <delwp:MD_AssemblyCode @codeListValue="..."/>
               </delwp:assembly>
               <delwp:tileSize>
                 <delwp:MD_TileSizeCode @codeListValue="..."/>
               </delwp:tileSize>
               <delwp:dataDetails>
                 <delwp:MD_DataDetails>
                   <delwp:rasterDetails>
                     <delwp:MD_RasterDetails>
                         
                     </delwp:MD_RasterDetails>
                   </delwp:rasterDetails>
                 </delwp:MD_DataDetails>
               </delwp:dataDetails>
             </delwp:MD_DatasetDetails>
           </delwp:datasetDetails>
         </gco:Record>
        </mac:otherProperty>
      </mac:MI_Operation>
    </mac:operation>
  </mac:MI_AcquisitionInformation>
</mdb:acquistionInformation>



-->

  <element name="MD_MethodCode" substitionGroup="gco:CharacterString" type="gco:CodeListValue_Type">
    <annotation>
      <documentation>Description: Describes the method code used to collect the imagery in the project</documentation>
    </annotation>
  </element>

  <complexType name="MD_MethodCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="delwp:MD_MethodCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>

  <complexType name="MD_ProjectPartner_Type">
    <sequence>
      <element minOccurs="1" maxOccurs="unbounded" name="partner"  type="cit:AbstractCI_Party_PropertyType"/>
      <element minOccurs="0" name="purpose" type="gco:CharacterString_PropertyType"/>
    </sequence>
  </complexType>

  <element name="MD_ProjectPartner" substitutionGroup="gco:AbstractObject" type="delwp:MD_ProjectPartner_Type"/>

  <complexType name="MD_ProjectPartner_PropertyType">
    <sequence minOccurs="0">
      <element ref="delwp:MD_ProjectPartner"/>
    </sequence>
  </complexType>

  <element name="MD_PlatformTypeCode" substitionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>

  <complexType name="MD_PlatformTypeCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="delwp:MD_PlatformTypeCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>

  <element name="MD_AssemblyCode" substitionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>

  <complexType name="MD_AssemblyCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="delwp:MD_AssemblyCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>

  <element name="MD_TileSizeCode" substitionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>

  <complexType name="MD_TileSizeCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="delwp:MD_TileSizeCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>

  <element name="MD_ProjectDetails" substitutionGroup="gco:AbstractObject" type="delwp:MD_ProjectDetails_Type"/>

  <complexType name="MD_ProjectDetails_PropertyType">
    <sequence minOccurs="0">
      <element ref="delwp:MD_ProjectDetails"/>
    </sequence>
  </complexType>

  <complexType name="MD_ProjectDetails_Type">
    <sequence minOccurs="0">
      <element minOccurs="1" name="method" type="delwp:MD_MethodCode_PropertyType">
        <annotation>
          <documentation>Description: Describes the method used to acquire the imagery in the project</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="unbounded" name="projectPartner" type="delwp:MD_ProjectPartner_PropertyType">
        <annotation>
          <documentation>Description: Describes the project partners that financially contributed to the project</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>

  <element name="MD_RasterTypeCode" substitionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>

  <complexType name="MD_RasterTypeCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="delwp:MD_RasterTypeCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>

  <element name="MD_ContourDetails" substitutionGroup="gco:AbstractObject" type="delwp:MD_ContourDetails_Type"/>

  <complexType name="MD_ContourDetails_PropertyType">
    <sequence minOccurs="0">
      <element ref="delwp:MD_ContourDetails"/>
    </sequence>
  </complexType>

  <complexType name="MD_ContourDetails_Type">
    <sequence minOccurs="0">
      <element minOccurs="1" name="interval" type="gco:Measure_PropertyType">
        <annotation>
          <documentation>Description: Contour interval</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>

  <element name="MD_PointCloudDetails" substitutionGroup="gco:AbstractObject" type="delwp:MD_PointCloudDetails_Type"/>

  <complexType name="MD_PointCloudDetails_PropertyType">
    <sequence minOccurs="0">
      <element ref="delwp:MD_PointCloudDetails"/>
    </sequence>
  </complexType>

  <complexType name="MD_PointCloudDetails_Type">
    <sequence minOccurs="0">
      <element minOccurs="0" name="pulseMode" type="gco:CharacterString_PropertyType">
        <annotation>
          <documentation>Description: Lidar details pulse mode</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="returnTypes" type="gco:CharacterString_PropertyType">
        <annotation>
          <documentation>Description: Lidar details return types</documentation>
        </annotation>
      </element>
      <element minOccurs="1" name="scanRate" type="gco:Measure_PropertyType">
        <annotation>
          <documentation>Description: Lidar details scan rate</documentation>
        </annotation>
      </element>
      <element minOccurs="1" name="scanFrequency" type="gco:Measure_PropertyType">
        <annotation>
          <documentation>Description: Lidar details scan frequency</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="scanAngle" type="gco:Measure_PropertyType">
        <annotation>
          <documentation>Description: Lidar details scan angle</documentation>
        </annotation>
      </element>
      <element minOccurs="1" name="footprintSize" type="gco:Measure_PropertyType">
        <annotation>
          <documentation>Description: Lidar details footprint size</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="pointDensityTarget" type="gco:Measure_PropertyType">
        <annotation>
          <documentation>Description: Lidar details point density target</documentation>
        </annotation>
      </element>
      <element minOccurs="1" name="pointDensityActual" type="gco:Measure_PropertyType">
        <annotation>
          <documentation>Description: Lidar details point density actual</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="pointSpacingTarget" type="gco:Measure_PropertyType">
        <annotation>
          <documentation>Description: Lidar details point spacing target</documentation>
        </annotation>
      </element>
      <element minOccurs="1" name="pointSpacingActual" type="gco:Measure_PropertyType">
        <annotation>
          <documentation>Description: Lidar details point spacing actual</documentation>
        </annotation>
      </element>
      <element minOccurs="1" name="ellipsoidProvided" type="gco:Boolean_PropertyType">
        <annotation>
          <documentation>Description: Lidar details ellipsoid provided</documentation>
        </annotation>
      </element>
      <element minOccurs="1" name="ellipsoidVerticalDatum" type="delwp:MD_EllipsoidVerticalDatumCode_PropertyType">
        <annotation>
          <documentation>Description: Describes the ellipsoid vertical datum</documentation>
        </annotation>
      </element>
      <element minOccurs="1" name="ellipsoidFormat" type="delwp:MD_EllipsoidFormatCode_PropertyType">
        <annotation>
          <documentation>Description: Describes the ellipsoid format</documentation>
        </annotation>
      </element>
      <element minOccurs="1" name="geoidVerticalDatum" type="delwp:MD_GeoidVerticalDatumCode_PropertyType">
        <annotation>
          <documentation>Description: Describes the geoid vertical datum</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="additionalAdjustments" type="gco:CharacterString_PropertyType">
        <annotation>
          <documentation>Description: Lidar details additional adjustments</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="environmentalConditions" type="gco:CharacterString_PropertyType">
        <annotation>
          <documentation>Description: Lidar details environmental conditions</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="tidalConditions" type="gco:CharacterString_PropertyType">
        <annotation>
          <documentation>Description: Lidar details tidal conditions</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>

  <element name="MD_RasterDetails" substitutionGroup="gco:AbstractObject" type="delwp:MD_RasterDetails_Type"/>

  <complexType name="MD_RasterDetails_PropertyType">
    <sequence minOccurs="0">
      <element ref="delwp:MD_RasterDetails"/>
    </sequence>
  </complexType>

  <complexType name="MD_RasterDetails_Type">
    <sequence minOccurs="0">
      <element minOccurs="1" name="type" type="delwp:MD_RasterTypeCode_PropertyType">
        <annotation>
          <documentation>Description: Describes the type of raster data eg. aerial photo</documentation>
        </annotation>
      </element>
      <element minOccurs="1" name="seamlessness" type="delwp:MD_SeamlessnessCode_PropertyType">
        <annotation>
          <documentation>Description: Seamlessness</documentation>
        </annotation>
      </element>
      <element minOccurs="1" name="rectificationType" type="delwp:MD_RectificationTypeCode_PropertyType">
        <annotation>
          <documentation>Description: rectification type</documentation>
        </annotation>
      </element>
      <element minOccurs="1" name="numberOfBands" type="gco:Integer_PropertyType">
        <annotation>
          <documentation>Description: rectification type</documentation>
        </annotation>
      </element>
      <element minOccurs="1" name="bandList" type="delwp:MD_BandListCode_PropertyType">
        <annotation>
          <documentation>Description: band list</documentation>
        </annotation>
      </element>
      <element minOccurs="1" name="resamplingKernel" type="delwp:MD_ResamplingKernelCode_PropertyType">
        <annotation>
          <documentation>Description: band list</documentation>
        </annotation>
      </element>
      <element minOccurs="1" name="platform" type="delwp:MD_PlatformCode_PropertyType">
        <annotation>
          <documentation>Description: platform code</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="rectificationNotes" type="gco:CharacterString_PropertyType">
        <annotation>
          <documentation>Description: rectification notes</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>

  <element name="MD_DataDetails" substitutionGroup="gco:AbstractObject" type="delwp:MD_DataDetails_Type"/>

  <complexType name="MD_DataDetails_PropertyType">
    <sequence minOccurs="0">
      <element ref="delwp:MD_DataDetails"/>
    </sequence>
  </complexType>

  <complexType name="MD_DataDetails_Type">
    <choice>
      <element name="rasterDetails" type="delwp:MD_RasterDetails_PropertyType"/>
      <element name="pointCloudDetails" type="delwp:MD_PointCloudDetails_PropertyType"/>
      <element name="contourDetails" type="delwp:MD_ContourDetails_PropertyType"/>
    </choice>
  </complexType>

  <element name="MD_DatasetDetails" substitutionGroup="gco:AbstractObject" type="delwp:MD_DatasetDetails_Type"/>

  <complexType name="MD_DatasetDetails_PropertyType">
    <sequence minOccurs="0">
      <element ref="delwp:MD_DatasetDetails"/>
    </sequence>
  </complexType>

  <element name="platformType" type="delwp:MD_PlatformTypeCode_PropertyType">
    <annotation>
      <documentation>Description: Describes the type of platform that was used to collect the data. This element is used in a number of complex types</documentation>
    </annotation>
  </element>
  
  <complexType name="MD_DatasetDetails_Type">
    <sequence minOccurs="0">
      <element ref="delwp:platformType" minOccurs="1"/> 
      <element minOccurs="1" name="assembly" type="delwp:MD_AssemblyCode_PropertyType">
        <annotation>
          <documentation>Description: Describes the way in which the data has been assembled</documentation>
        </annotation>
      </element>
      <element minOccurs="1" name="tileSize" type="delwp:MD_TileSizeCode_PropertyType">
        <annotation>
          <documentation>Description: Describes the size of the tiles in the dataset</documentation>
        </annotation>
      </element>
      <element minOccurs="1" name="dataDetails" type="delwp:MD_DataDetails_PropertyType">
        <annotation>
          <documentation>Description: Describes the details of the raster data collected in this operation</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>

  <element name="MD_RunOrientationCode" substitionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>

  <complexType name="MD_RunOrientationCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="delwp:MD_RunOrientationCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>

  <element name="MD_FlyingHeightUnitCode" substitionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>

  <complexType name="MD_FlyingHeightUnitCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="delwp:MD_FlyingHeightUnitCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>

  <element name="MD_AerialSurveyDetails" substitutionGroup="gco:AbstractObject" type="delwp:MD_AerialSurveyDetails_Type"/>

  <complexType name="MD_AerialSurveyDetails_PropertyType">
    <sequence minOccurs="0">
      <element ref="delwp:MD_AerialSurveyDetails"/>
    </sequence>
  </complexType>

  <complexType name="MD_AerialSurveyDetails_Type">
    <sequence minOccurs="0">
      <element minOccurs="0" name="runs" type="gco:Integer_PropertyType">
        <annotation>
          <documentation>Description: Number of runs</documentation>
        </annotation>
      </element>
      <element minOccurs="1" name="runOrientation" type="delwp:MD_RunOrientationCode_PropertyType">
        <annotation>
          <documentation>Description: Run Orientation</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="swathWidth" type="gco:Integer_PropertyType">
        <annotation>
          <documentation>Description: Swath Width</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="sideOverlap" type="gco:Integer_PropertyType">
        <annotation>
          <documentation>Description: Side Overlap Percentage</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="forwardOverlap" type="gco:Integer_PropertyType">
        <annotation>
          <documentation>Description: Forward Overlap Percentage</documentation>
        </annotation>
      </element>
      <element minOccurs="1" name="flyingHeightUnit" type="delwp:MD_FlyingHeightUnitCode_PropertyType">
        <annotation>
          <documentation>Description: Flying Height Unit</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="flyingHeight" type="gco:Integer_PropertyType">
        <annotation>
          <documentation>Description: Flight Height</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="gpsControlled" type="gco:Boolean_PropertyType">
        <annotation>
          <documentation>Description: GPS Controlled</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="INS" type="gco:Boolean_PropertyType">
        <annotation>
          <documentation>Description: INS?</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>

  <complexType name="MD_OperationProperties_Type">
    <annotation>
      <documentation>Description: Describes the DELWP operation properties that don't fit within in the standard</documentation>
    </annotation>
    <choice>
       <element name="projectDetails" type="delwp:MD_ProjectDetails_PropertyType"/>
       <element name="datasetDetails" type="delwp:MD_DatasetDetails_PropertyType"/>
       <element name="aerialSurveyDetails" type="delwp:MD_AerialSurveyDetails_PropertyType"/>
    </choice>
  </complexType>

  <!-- This type is used in mac:MI_Sensor/mac:otherProperty -->
  <complexType name="MD_SensorProperties_Type">
    <sequence minOccurs="0">
      <element ref="delwp:platformType" minOccurs="1"/> 
    </sequence>
  </complexType>

</schema>


